<!-- <apex:page Controller="ApexCodeCoverage" contentType="application/vnd.ms-excel#SalesForceExport.xls"> -->
<apex:page Controller="ApexCodeCoverage" >
<apex:pageBlock title="Apex Code coverage">
<apex:pageBlockTable value="{!ApexCodeCoverageWrapperList}" var="data">
<apex:column >
    <apex:facet name="header">Class Name</apex:facet>
        {!data.ApexClassName}
</apex:column>

<apex:column >
    <apex:facet name="header">Lines Covered</apex:facet>
            {!data.ApexNumLinescovered}
</apex:column>

<apex:column >
    <apex:facet name="header">Lines Uncovered</apex:facet>
        {!data.ApexNumLinesUncovered}
</apex:column>



<apex:column >
    <apex:facet name="header">Percentage</apex:facet>
      {!data.Apexcodecoverage}
</apex:column>

<apex:column >
    <apex:facet name="header">Created By Name</apex:facet>
      {!data.createdbyName}
</apex:column>

<apex:column >
    <apex:facet name="header">Last Modified By</apex:facet>
      {!data.lastmodifiedbyname}
</apex:column>







</apex:pageBlockTable>
</apex:pageBlock>
</apex:page>