<apex:page standardController="Case" extensions="BugandEnhancementNewCaseExtensionv2">
  <apex:form >
        <apex:pageBlock title="New Case">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Save" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1">
                <apex:inputField value="{!Case.RecordTypeId}" required="true"/>
                <apex:inputField value="{!Case.Status}" required="true"/>
                <apex:inputField value="{!Case.Priority}" required="true"/>
                <apex:inputField value="{!Case.Subject}" required="true"/>
                <apex:inputField value="{!Case.Description}" required="true"/>
                <apex:inputField value="{!Case.Environment_and_Application__c}" required="true"/>
                <apex:inputField value="{!Case.Opened_By_Person_s_Email__c}" required="true"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
  </apex:form>
</apex:page>