<apex:page standardController="Account" extensions="BulkBillingProcessController" action="{!BuildData}" id="pg">
<style>

</style>
    <apex:form id="frm" > 
        <apex:outputPanel id="messagePanel">
            <apex:pageMessage summary="Instructions:" severity="info" strength="3">
            <div><br/>
            <b style="font-size:16px;font-style:italic">You need to complete all the steps which is given below, otherwise bulk billing process will be partial. And If you get any error during the process then you must need restore the steps which you have performed.  </b> <br/><br/>
             <b><i>STEP A:</i> There is only single step to process digital order line items:</b><br/>
             Step 1.it will create invoice for digital order line items as a result of cancellation fee<br/><br/>
             <b><i>STEP B:</i> There are below steps to process selected Print order line items:</b><br/> <b><i>Step 1 to Step 3 is needed only when order line items does have Sales Credit Notes as recurring CS Claim. </i> </b> <br/><br/>
                Step 1.  It will offset the recurring CS Claim Sales credit notes.<br/>
                Step 2.  It will create one time sales credit note.<br/>
                Step 3.  It will create invoices for offsetting the recurring sales credit notes.<br/>
                Step 4.  It will do offset the monthly invoices.<br/>
                Step 5.  It will create a single payment invoices.<br/><br/>
             <b style="color:crimson;font-sixe:13px'"><i>STEP C:</i> It is must to click on <i>"Update All Order Line Items"</i> button to complete process of Print and Digital line items.</b>
            </div>
            </apex:pageMessage>
        </apex:outputPanel>
        <apex:pageBlock id="digitalpageblok" title="Bulk Billing Process"> 
         <apex:commandButton disabled="{!isBackToAccountDisabled}" value="Back to Account" style="height:30px;padding:6px 14px;" action="{!redirecttoAccount}"   status="buttonStatus"/> <br/> <br/>
        <apex:pageMessages rendered="{!IF(processCheck!='yes',true,false)}" escape="false"></apex:pageMessages>
        <apex:pageMessage summary="Success::" severity="confirm" strength="3" rendered="{!IF(processCheck=='yes',true,false)}">
        You have successfully completed all the steps for selected order line items. 
        </apex:pageMessage>
            <apex:pageBlockSection id="digitalSection" collapsible="true" title="Digital Order Line Items" rendered="{!IF(listDigitalOLI.size > 0,true,false)}" > 
                <apex:commandButton value="Step 1" action="{!ProcessDigitalOLIs}" style="padding:6px 14px;height:30px" disabled="{!step1ForDigital}" reRender="frm" status="buttonStatus"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection id="printSection" collapsible="true" title="Print Order Line Items" columns="1" rendered="{!AND(IF(orderLineItemWrapperList.size > 0,true,false),IF(isPrintSectionEnable,true,false))}" >
            <apex:pageBlockSectionItem >
                <apex:pageBlockTable value="{!orderLineItemWrapperList}" var="sWrapper">
                    <apex:column headerValue="Select">
                        &nbsp;&nbsp;
                        <apex:inputCheckbox id="cccheckbox" value="{!sWrapper.isSelected}" disabled="true"/>
                    </apex:column>  
                    <apex:column headerValue="Name">
                    <apex:outputLink target="_blank"  value="/{!sWrapper.Objoli.id}">{!sWrapper.Objoli.Name}</apex:outputLink>
                    </apex:column>
                    <apex:column headerValue="Product Name" value="{!sWrapper.objoli.ProductCode__c}" />
                    <apex:column headerValue="Go Live Date" value="{!sWrapper.Objoli.Talus_Go_Live_Date__c}"/>
                    <apex:column headerValue="Bill Frequency" > Monthly</apex:column>
                    <apex:column headerValue="Product Amount" value="{!sWrapper.Objoli.UnitPrice__c}" />        
                </apex:pageBlockTable> 
        </apex:pageBlockSectionItem> 
         <apex:pageBlockSectionItem >  
         <apex:outputPanel >        
                <apex:commandButton value="Step 1" style="height:30px;padding:6px 14px;" action="{!OffSetRecurringCSClaimSCNStep1}" disabled="{!step1}" reRender="frm,RestorePanel" status="buttonStatus"/>
                <apex:commandButton value="Step 2" style="height:30px;padding:6px 14px;margin-left:140px;" action="{!createOneTimeSCNForCSClaimStep2}" disabled="{!step2}" reRender="frm,RestorePanel" status="buttonStatus"/>
                <apex:commandButton value="Step 3" style="height:30px;padding:6px 14px;margin-left:140px;" action="{!createOffSetInvoicesForCSClaimStep3}" disabled="{!step3}" reRender="frm,RestorePanel"  status="buttonStatus"/>
                <apex:commandButton value="Step 4" style="height:30px;padding:6px 14px;margin-left:140px;" action="{!OffSetMonthlyInvoiceStep4}" disabled="{!step4}" reRender="frm,RestorePanel"  status="buttonStatus"/>
                <apex:commandButton value="Step 5" style="height:30px;padding:6px 14px;margin-left:140px;" action="{!createSinglePaymentInvoiceStep5}" disabled="{!step5}"  reRender="frm,RestorePanel"  status="buttonStatus"/> 
          </apex:outputPanel> 
          </apex:pageBlockSectionItem>
          
            </apex:pageBlockSection>
             </apex:pageBlock> 
      <apex:outputPanel id="RestorePanel">

        <apex:pageBlock title="Restore Bulk Billing Process" rendered="{!errorInProcess}" > 
        <apex:outputPanel id="RestoremessagePanel" rendered="{!errorInProcess}">
            <apex:pageMessage summary="Instructions:" severity="info" strength="3">
            <i>This section is for restoring the steps if any step gets fail which you performed above. </i>            
            </apex:pageMessage>
        </apex:outputPanel>          

            <apex:pageBlockSection id="digitalSection" collapsible="true" title="Digital Order Line Items" rendered="{!IF(listDigitalOLI.size > 0,true,false)}" > 
                <apex:commandButton value="Step 1" action="{!RestoreDigitalOlis}" style="padding:6px 14px;height:30px"  reRender="frm" status="buttonStatus"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection id="printSection" collapsible="true" title="Print Order Line Items" columns="1" rendered="{!IF(orderLineItemWrapperList.size > 0,true,false)}" >
         <apex:pageBlockSectionItem >  
         <apex:outputPanel >        
                <apex:commandButton value="Step 1" style="height:30px;padding:6px 14px;" action="{!RestoreOffSetRecurringCSClaimSCNStep1}"  reRender="frm" status="buttonStatus"/>
                <apex:commandButton value="Step 2" style="height:30px;padding:6px 14px;margin-left:140px;" action="{!RestorecreateOneTimeSCNForCSClaimStep2}"  reRender="frm" status="buttonStatus"/>
                <apex:commandButton value="Step 3" style="height:30px;padding:6px 14px;margin-left:140px;" action="{!RestorecreateOffSetInvoicesForCSClaimStep3}"  reRender="frm"  status="buttonStatus"/>
                <apex:commandButton value="Step 4" style="height:30px;padding:6px 14px;margin-left:140px;" action="{!RestoreOffSetMonthlyInvoiceStep4}"  reRender="frm"  status="buttonStatus"/>
                <apex:commandButton value="Step 5" style="height:30px;padding:6px 14px;margin-left:140px;" action="{!RestorecreateSinglePaymentInvoiceStep5}"  reRender="frm"  status="buttonStatus"/> 
          </apex:outputPanel> 
          </apex:pageBlockSectionItem> 
            </apex:pageBlockSection>
        </apex:pageBlock>  
        </apex:outputPanel>  
         <apex:pageBlock > 
        <apex:pageBlockSection id="OLISection" collapsible="true" title="Update Line Items Section" rendered="{!OR(IF(orderLineItemWrapperList.size > 0,true,false),IF(listDigitalOLI.size > 0,true,false))}">
                <apex:commandButton value="Update All Order Line Items" action="{!updateOLIsANDMOLIs}" style="padding:6px 14px;height:30px" disabled="{!updateOLiButtonDisable}"/>
            </apex:pageBlockSection>           
        </apex:pageBlock>              
           <apex:actionstatus id="buttonStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;">
                    <div class="waitingHolder" style="width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Loading...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>  
</apex:form>
</apex:page>