<apex:page standardController="Co_Ops__c">
<h1 style="font-size:26px" >{!Co_Ops__c.name}</h1>
<apex:form >
 <center>
  <apex:commandButton value="Print" id="printButton" onclick="window.open('/apex/coopdetailprint?id='+'{!Co_Ops__c.Id}','_blank');return false" />&nbsp;&nbsp;
  <apex:commandButton value="Back to Search" id="searchButton" action="/apex/CoopCustomSearch"   />
 </center>
</apex:form>
<br/>
 <apex:pageBlock mode="detail">
    <apex:panelGrid columns="3" width="100%">
        <apex:panelGroup >
            <apex:outputText value="Status:   " style="font-weight:bold"/>
            <apex:outputText value="Active" rendered="{!IF(Co_Ops__c.Status__c = 'A',true,false)}" style="color:green;font-weight:bold"/>
            <apex:outputText value="Canceled" rendered="{!IF(Co_Ops__c.Status__c = 'C',true,false)}" style="color:red;font-weight:bold"/>
            <apex:outputText value="Unknown" rendered="{!IF(Co_Ops__c.Status__c = '',true,false)}"/>
        </apex:panelGroup>
        <apex:panelGroup rendered="{!IF(Co_Ops__c.Status__c = 'C',true,false)}">
            <apex:outputText value="Cancel Date   " style="font-weight:bold"/>
            <apex:outputText value="{!IF(LEN(Co_Ops__c.Cancel_Date__c) = 10,LEFT(Co_Ops__c.Cancel_Date__c,2),LEFT(Co_Ops__c.Cancel_Date__c,1))}"/>
            <apex:outputText value="/"/>
            <apex:outputText value="{!LEFT(RIGHT(Co_Ops__c.Cancel_Date__c,6),2)}"/>
            <apex:outputText value="/"/>
            <apex:outputText value="{!RIGHT(Co_Ops__c.Cancel_Date__c,4)}"/>
        </apex:panelGroup>
        <apex:panelGroup >
            <apex:outputText value="Last Date Revision Received   " style="font-weight:bold"/>
            <apex:outputText value="{!IF(LEN(Co_Ops__c.Revision_Date__c) = 8,LEFT(Co_Ops__c.Revision_Date__c,2),LEFT(Co_Ops__c.Revision_Date__c,1))}"/>
            <apex:outputText value="/"/>
            <apex:outputText value="{!LEFT(RIGHT(Co_Ops__c.Revision_Date__c,6),2)}"/>
            <apex:outputText value="/"/>
            <apex:outputText value="{!RIGHT(Co_Ops__c.Revision_Date__c,4)}"/>
        </apex:panelGroup>
    </apex:panelGrid>
   <br/>
        <apex:panelGrid columns="2">
          <apex:facet name="header"><apex:outputText value="General Info" style="font-size:16px"/></apex:facet>
            <apex:outputtext value="Co-Op Name" style="font-weight:bold"/><apex:outputField value="{!Co_Ops__c.Name}"/>
            <apex:outputtext value="Sort Co-Op Name" style="font-weight:bold"/><apex:outputField value="{!Co_Ops__c.Sort_Co_Op_Name__c}"/>
            <apex:outputtext value="Company" style="font-weight:bold"/><apex:outputField value="{!Co_Ops__c.Company__c}"/>
            <apex:outputtext value="Headings" style="font-weight:bold"/><apex:outputField value="{!Co_Ops__c.Classified_Headings__c}"/>
            <apex:outputtext value="Products/Services" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Products_Services__c <> '',Co_Ops__c.Product_Services_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup >
                <apex:outputField value="{!Co_Ops__c.Products_Services__c}" rendered="{!IF(Co_Ops__c.Products_Services__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Products_Services__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Product_Services_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Product_Services_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>
        </apex:panelGrid>
     <br/>
        <apex:panelGrid columns="2">
          <apex:facet name="header"><apex:outputText value="Contact Info" style="font-size:16px"/></apex:facet>
            <apex:outputtext value="Contact" style="font-weight:bold"/><apex:outputField value="{!Co_Ops__c.Contact__c}"/>
            <apex:outputtext value="Address" style="font-weight:bold"/><apex:outputField value="{!Co_Ops__c.Street__c}"/>
            <br/>
            <apex:panelGroup >
                <apex:outputField value="{!Co_Ops__c.City__c}"/>&nbsp;
                <apex:outputField value="{!Co_Ops__c.State__c}"/>&nbsp;
                <apex:outputField value="{!Co_Ops__c.Zip_Code__c}"/>
            </apex:panelGroup>
            <apex:outputtext value="Phone" style="font-weight:bold"/><apex:outputField value="{!Co_Ops__c.Phone__c}"/>
            <apex:outputtext value="Email" style="font-weight:bold"/><apex:outputField value="{!Co_Ops__c.Email__c}"/>
            <apex:outputtext value="Website" style="font-weight:bold"/><apex:outputField value="{!Co_Ops__c.Website__c}"/>
        </apex:panelGrid>
    <br/>
        <apex:panelGrid columns="2">
          <apex:facet name="header"><apex:outputText value="Claims and Reimbursement" style="font-size:16px"/></apex:facet> 
            <apex:outputtext value="Type of Plan" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Type_of_Plan__c <> '',Co_Ops__c.Type_of_Plan_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Type_of_Plan__c <> '',Co_Ops__c.Type_of_Plan_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Type_of_Plan__c}" rendered="{!IF(Co_Ops__c.Type_of_Plan__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Type_of_Plan__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Type_of_Plan_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Type_of_Plan_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>        
            <apex:outputtext value="Prior Approval" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Prior_Approval__c <> '',Co_Ops__c.Prior_Approval_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Prior_Approval__c <> '',Co_Ops__c.Prior_Approval_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Prior_Approval__c}" rendered="{!IF(Co_Ops__c.Prior_Approval__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Prior_Approval__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Prior_Approval_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Prior_Approval_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>       
            <apex:outputtext value="Timing" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Timing__c <> '',Co_Ops__c.Timing_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Timing__c <> '',Co_Ops__c.Timing_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Timing__c}" rendered="{!IF(Co_Ops__c.Timing__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Timing__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Timing_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Timing_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>            
            <apex:outputtext value="Participation & Accrual" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Participation_Accrual__c <> '',Co_Ops__c.Participation_Accrual_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Participation_Accrual__c <> '',Co_Ops__c.Participation_Accrual_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Participation_Accrual__c}" rendered="{!IF(Co_Ops__c.Participation_Accrual__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Participation_Accrual__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Participation_Accrual_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Participation_Accrual_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>            
            <apex:outputtext value="Reimbursement" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Reimbursement__c <> '',Co_Ops__c.Reimbursement_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Reimbursement__c <> '',Co_Ops__c.Reimbursement_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Reimbursement__c}" rendered="{!IF(Co_Ops__c.Reimbursement__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Reimbursement__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Reimbursement_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Reimbursement_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>            
            <apex:outputtext value="Claim File Days" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Claim_File_Days__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Claim_File_Days__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Claim_File_Days__c}" rendered="{!IF(Co_Ops__c.Claim_File_Days__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Claim_File_Days__c <> '',true,false)}"/>
            </apex:panelGroup>             
            <apex:outputtext value="Claim File Time" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Claim_File_Time__c <> '',Co_Ops__c.Claim_File_Time_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Claim_File_Time__c <> '',Co_Ops__c.Claim_File_Time_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Claim_File_Time__c}" rendered="{!IF(Co_Ops__c.Claim_File_Time__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Claim_File_Time__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Claim_File_Time_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Claim_File_Time_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>
            <apex:outputtext value="Claim Documentation" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Claim_Documentation__c <> '',Co_Ops__c.Claim_Documentation_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Claim_Documentation__c <> '',Co_Ops__c.Claim_Documentation_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Claim_Documentation__c}" rendered="{!IF(Co_Ops__c.Claim_Documentation__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Claim_Documentation__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Claim_Documentation_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Claim_Documentation_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>                
        </apex:panelGrid>
     <br/>
        <apex:panelGrid columns="2">
          <apex:facet name="header"><apex:outputText value="Ad Requirements" style="font-size:16px"/></apex:facet>
            <apex:outputtext value="Ad Requirements - Competitors" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Ad_Req_Competitors__c <> '',Co_Ops__c.Ad_Req_Competitors_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Ad_Req_Competitors__c <> '',Co_Ops__c.Ad_Req_Competitors_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Ad_Req_Competitors__c}" rendered="{!IF(Co_Ops__c.Ad_Req_Competitors__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Ad_Req_Competitors__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Ad_Req_Competitors_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Ad_Req_Competitors_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>
            <apex:outputtext value="Ad Requirements - Non-Competitors" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Ad_Req_Non_Competitors__c <> '',Co_Ops__c.Ad_Req_Non_Competitors_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Ad_Req_Non_Competitors__c <> '',Co_Ops__c.Ad_Req_Non_Competitors_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Ad_Req_Non_Competitors__c}" rendered="{!IF(Co_Ops__c.Ad_Req_Non_Competitors__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Ad_Req_Non_Competitors__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Ad_Req_Non_Competitors_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Ad_Req_Non_Competitors_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>
            <apex:outputtext value="Ad Requirements - Color" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Ad_Req_Color__c <> '',Co_Ops__c.Ad_Req_Color_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Ad_Req_Color__c <> '',Co_Ops__c.Ad_Req_Color_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Ad_Req_Color__c}" rendered="{!IF(Co_Ops__c.Ad_Req_Color__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Ad_Req_Color__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Ad_Req_Color_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Ad_Req_Color_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>        
            <apex:outputtext value="Ad Requirements - Logo" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Ad_Req_Logo__c <> '',Co_Ops__c.Ad_Req_Logo_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Ad_Req_Logo__c <> '',Co_Ops__c.Ad_Req_Logo_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Ad_Req_Logo__c}" rendered="{!IF(Co_Ops__c.Ad_Req_Logo__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Ad_Req_Logo__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Ad_Req_Logo_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Ad_Req_Logo_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>                
            <apex:outputtext value="Ad Requirements - Product Illustration" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Ad_Req_Product_Illustration__c <> '',Co_Ops__c.Ad_Req_Product_Illustration_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Ad_Req_Product_Illustration__c <> '',Co_Ops__c.Ad_Req_Product_Illustration_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Ad_Req_Product_Illustration__c}" rendered="{!IF(Co_Ops__c.Ad_Req_Product_Illustration__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Ad_Req_Product_Illustration__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Ad_Req_Product_Illustration_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Ad_Req_Product_Illustration_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>
        </apex:panelGrid>                            
    <br/>
        <apex:panelGrid columns="2">
          <apex:facet name="header"><apex:outputText value="Miscellaneous" style="font-size:16px"/></apex:facet> 
            <apex:outputtext value="Media Allowed" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Media_Allowed__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Media_Allowed__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Media_Allowed__c}" rendered="{!IF(Co_Ops__c.Media_Allowed__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Media_Allowed__c <> '',true,false)}"/>
            </apex:panelGroup>        
            <apex:outputtext value="Artwork Available" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Artwork_Available__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Artwork_Available__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Artwork_Available__c}" rendered="{!IF(Co_Ops__c.Artwork_Available__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Artwork_Available__c <> '',true,false)}"/>
            </apex:panelGroup>
            <apex:outputtext value="Internet" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Internet__c <> '',Co_Ops__c.Internet_Addtl_Info__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Internet__c <> '',Co_Ops__c.Internet_Addtl_Info__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Internet__c}" rendered="{!IF(Co_Ops__c.Internet__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Internet__c <> '',true,false)}"/>
                <apex:outputField value="{!Co_Ops__c.Internet_Addtl_Info__c}" rendered="{!IF(Co_Ops__c.Internet_Addtl_Info__c <> '',true,false)}"/>
            </apex:panelGroup>        
            <apex:outputtext value="Dealer Distributor List Available" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Dealer_Distributor_List_Available__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Dealer_Distributor_List_Available__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Dealer_Distributor_List_Available__c}" rendered="{!IF(Co_Ops__c.Dealer_Distributor_List_Available__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Dealer_Distributor_List_Available__c <> '',true,false)}"/>
            </apex:panelGroup>            
            <apex:outputtext value="Dealer Distributor List Location" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Dealer_Distributor_List_Location__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Dealer_Distributor_List_Location__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Dealer_Distributor_List_Location__c}" rendered="{!IF(Co_Ops__c.Dealer_Distributor_List_Location__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Dealer_Distributor_List_Location__c <> '',true,false)}"/>
            </apex:panelGroup>            
            <apex:outputtext value="Regional Areas Covered" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Regional_Areas_Covered__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Regional_Areas_Covered__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Regional_Areas_Covered__c}" rendered="{!IF(Co_Ops__c.Regional_Areas_Covered__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Regional_Areas_Covered__c <> '',true,false)}"/>
            </apex:panelGroup>            
            <apex:outputtext value="Cancel Remarks" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Cancel_Remarks__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Cancel_Remarks__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Cancel_Remarks__c}" rendered="{!IF(Co_Ops__c.Cancel_Remarks__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Cancel_Remarks__c <> '',true,false)}"/>
            </apex:panelGroup>        
            <apex:outputtext value="Remarks" style="font-weight:bold" rendered="{!IF(OR(Co_Ops__c.Remarks__c <> ''),true,false)}"/>
            <apex:panelGroup rendered="{!IF(OR(Co_Ops__c.Remarks__c <> ''),true,false)}">
                <apex:outputField value="{!Co_Ops__c.Remarks__c}" rendered="{!IF(Co_Ops__c.Remarks__c <> '',true,false)}"/>
                <apex:outputText value="  " rendered="{!IF(Co_Ops__c.Remarks__c <> '',true,false)}"/>
            </apex:panelGroup>        
        </apex:panelGrid>
 </apex:pageBlock>

</apex:page>