<apex:page standardController="Directory_Section__c" extensions="CreatePaginationJobController">
    <apex:form >
        <apex:pageBlock mode="edit">
            <apex:pageBlockButtons location="both">
                <apex:commandButton style="margin-left:-57px" value="Save" disabled="{!OR(DSs[0].Inactive_Directory_Section__c,preventpaginate,DSs[0].Non_Paginated_Section__c)}" action="{!doSave}"/>
                <apex:commandButton value="Cancel" action="{!doCancel}"/>
              <div style="color: red !important;margin-left: 45px;margin-top: -20px;display:{!IF(OR(preventpaginate,DSs[0].Inactive_Directory_Section__c,DSs[0].Non_Paginated_Section__c),'block','none')}">
                <apex:outputText rendered="{!DSs[0].Inactive_Directory_Section__c}" style="color: red !important;">Unable to create pagination job record if (Inactive Directory Section) is checked</apex:outputText>
                <apex:outputText rendered="{!AND(DSs[0].Non_Paginated_Section__c)}" >Section Type is not valid for Pagination job</apex:outputText>
            <apex:outputText rendered="{!AND(NOT(DSs[0].Inactive_Directory_Section__c),preventpaginate,NOT(DSs[0].Non_Paginated_Section__c))}" >Unable to create pagination job record due to no directory pagination record associated with this directory section</apex:outputText>
           </div>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Select Year to Process" columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Directory Code</apex:outputLabel>
                    <apex:outputText value="{!DSs[0].Directory_Code__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Section Code</apex:outputLabel>
                    <apex:outputText value="{!DSs[0].Section_Code__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Section Type</apex:outputLabel>
                    <apex:outputText value="{!DSs[0].Section_Page_Type__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >XML Name</apex:outputLabel>
                    <apex:outputText value="{!DSs[0].PDF_Name__c}"/>
                </apex:pageBlockSectionItem> 
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Inactive Directory Section</apex:outputLabel>
                    <apex:outputField value="{!DSs[0].Inactive_Directory_Section__c}"/>
                </apex:pageBlockSectionItem>                               
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Year" for="year"/>
                    <apex:selectList value="{!year}" multiselect="false" size="1" required="true">
                        <apex:selectOptions value="{!yearList}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>