<apex:page cache="true" contentType="application/vnd.ms-excel#export.csv" language="en-US" controller="InventoryTrackingExcel">
Canvass Name
{!Canvass.Name}
{!newLine}
Product Name,Product Code,Quantity Remaining,Quantity Sold
<apex:repeat value="{!DPMList}" var="DPM">
{!DPM.Product2__r.Name},{!DPM.Product2__r.ProductCode},{!DPM.Quantity_Remaining__c},{!DPM.Quantity__c}
</apex:repeat>
</apex:page>