<apex:page Standardcontroller="Directory__c" extensions="NationalRateCardController_v3" cache="true" contentType="text/csv#LocalPrice.csv" language="en-US">
"Local Rate Card"
"Version : {!strVersion}"
"Directory Name","Directory Code","Publication Company Name","Publication Code","UDAC","Full Rate","X40","X45","X50","X55","X60","X65","X70"
<apex:repeat value="{!lstLCSV}" var="a">
"{!a.directoryName}","{!a.directoryVersion}","{!a.directoryPUBCOName}","{!a.directoryPUBCOCode}","{!a.UDAC}","{!a.fullRate}","{!a.X40}","{!a.X45}","{!a.X50}","{!a.X55}","{!a.X60}","{!a.X65}","{!a.X70}"
</apex:repeat>
</apex:page>