<apex:page standardController="c2g__codaInvoiceLineItem__c" extensions="NewSalesInvoiceLineItemController">
<apex:form >
<apex:pageMessages />
    <apex:pageBlock >
        <apex:pageBlockSection title="Information" collapsible="false">
            <apex:inputField value="{!newSILI.c2g__LineNumber__c}"/>
            <apex:inputField value="{!newSILI.c2g__Invoice__c}"/>
            <apex:inputField value="{!newSILI.Order_Line_Item__c}"/>  
            <apex:inputField value="{!newSILI.CMR_Commission_Value__c}"/>
            <apex:inputField value="{!newSILI.P4P_Current_Billing_Period_Clicks_Leads__c}"/>
            <apex:inputField value="{!newSILI.From_SCN__c}"/>
            <apex:inputField value="{!newSILI.Successful_Payments__c}"/>
            <apex:inputField value="{!newSILI.Billing_Frequency__c}"/>
            <apex:inputField value="{!newSILI.Payments_Remaining__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Product" collapsible="false">
            <apex:inputField value="{!newSILI.c2g__Product__c}"/>
            <apex:inputField value="{!newSILI.c2g__LineDescription__c}"/>
            <apex:inputField value="{!newSILI.c2g__Dimension1__c}"/>
            <apex:inputField value="{!newSILI.c2g__UnitPrice__c}"/>
            <apex:inputField value="{!newSILI.c2g__Dimension2__c}"/>
            <apex:inputField value="{!newSILI.c2g__Quantity__c}"/>
            <apex:inputField value="{!newSILI.c2g__Dimension3__c}"/>
            <apex:inputField value="{!newSILI.ffbilling__DeriveUnitPriceFromProduct__c}"/>
            <apex:inputField value="{!newSILI.c2g__Dimension4__c}"/>
            <apex:inputField value="{!newSILI.Directory__c}"/>
            <apex:inputField value="{!newSILI.Directory_Edition__c}"/>
            <apex:inputField value="{!newSILI.ISS_Line_Item__c}"/>
            <apex:inputField value="{!newSILI.c2g__TaxCode1__c}"/>
            <apex:inputField value="{!newSILI.c2g__TaxRate1__c}"/>
            <apex:inputField value="{!newSILI.c2g__TaxCode2__c}"/>
            <apex:inputField value="{!newSILI.c2g__TaxRate2__c}"/>
            <apex:inputField value="{!newSILI.c2g__TaxCode3__c}"/>
            <apex:inputField value="{!newSILI.c2g__TaxRate3__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Derive Taxes" collapsible="false">
            <apex:inputField value="{!newSILI.ffbilling__SetTaxCode1ToDefault__c}"/>
            <apex:inputField value="{!newSILI.ffbilling__SetTaxCode2ToDefault__c}"/>
            <apex:inputField value="{!newSILI.ffbilling__CalculateTaxValue1FromRate__c}"/>
            <apex:inputField value="{!newSILI.ffbilling__CalculateTaxValue2FromRate__c}"/>
            <apex:inputField value="{!newSILI.ffbilling__DeriveTaxRate1FromCode__c}"/>
            <apex:inputField value="{!newSILI.ffbilling__DeriveTaxRate2FromCode__c}"/>                                  
            <apex:inputField value="{!newSILI.ffbilling__SetTaxCode3ToDefault__c}"/>
            <apex:outputText />
            <apex:inputField value="{!newSILI.ffbilling__CalculateTaxValue3FromRate__c}"/>
            <apex:outputText />
            <apex:inputField value="{!newSILI.ffbilling__DeriveTaxRate3FromCode__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockButtons >
            <apex:commandButton value="Save" action="{!insertSILI}"/>
        </apex:pageBlockButtons>
    </apex:pageBlock>
</apex:form>
</apex:page>