<apex:page controller="PortalHomePageController" action="{!portalHome}" sidebar="true" >
<html>
<style type="text/css">
.maindiv {
    width: 802px;
    overflow:visible;
}
.leftdiv {
    font: 14px Verdana, Geneva, sans-serif;
    color: #666;
    float: left;
    width: 800px;
}
.fbfeed {
    float: right;
    width: 300px;
}
.leftvideo {
    float: left;
    float: bottom;
}
</style>

<div class="maindiv">
    <img class="decoded" alt="Berry360" src="https://c.na11.content.force.com/servlet/servlet.FileDownload?file=015G0000001icqy"
     height="142" width="802"></img>
</div>
 <br></br>
 <br></br>
<div class="leftdiv">
      As a valued client, you have
      24/7 access to the useful tools on this website, that are designed to
      help you navigate your account and make sure you are getting the most
      from your advertising program. <br></br>
      You can review important messages waiting for you in the Message
      Center, or click on “My Profile” to verify all of your pertinent
      information on your account, or visit the Berry 360 tab to get the
      latest information about how your advertising package is performing.
      The Berry Solution Center also contains links to product information
      and tutorials, as well as other tools to help you with all of your
      print and digital advertising needs.<br></br>
      At Berry, we’re here to help you every step of the way, so there’s an
      FAQ tab to address the most common questions, or you can fill out the
      “Contact Us” form and one of our talented Customer Service
      representatives or a Performance Adviser will contact you about your
      account.<br></br>
</div>
<div class="fbfeed">
      <script type="text/javascript">
        rssmikle_url="http://www.facebook.com/feeds/page.php?format=atom10&id=106242336071768";
        rssmikle_frame_width="300";
        rssmikle_frame_height="500";
        rssmikle_target="_blank";
        rssmikle_font="Verdana, Arial, sans-serif";
        rssmikle_font_size="12";
        rssmikle_border="on";
        rssmikle_css_url="";
        autoscroll="off";
        scrollstep="3";
        mcspeed="20";
        sort="New";
        rssmikle_title="on";
        rssmikle_title_bgcolor="#19398a";
        rssmikle_title_color="#FFFFFF";
        rssmikle_title_bgimage="http://";
        rssmikle_item_bgcolor="#FFFFFF";
        rssmikle_item_bgimage="http://";
        rssmikle_item_title_length="100";
        rssmikle_item_title_color="#4E84C3";
        rssmikle_item_border_bottom="on";
        rssmikle_item_description="on";
        rssmikle_item_description_length="150";
        rssmikle_item_description_color="#666666";
        rssmikle_item_date="off";
        rssmikle_timezone="no";
        rssmikle_item_description_tag="on_flexcroll";
        rssmikle_item_podcast="off";
      </script>
      <script type="text/javascript"
         src="http://widget.feed.mikle.com/js/rssmikle.js">
      </script>
 </div>
 <br></br>

 <div class="leftvideo">
     <br></br>
     <br></br>
     <br></br>
     <a href="http://www.theberrycompany.com/customerportal/videos.png">
     <img style="width: 500px; height: 242px;" class="decoded" alt="videos"
     src="https://c.na11.content.force.com/servlet/servlet.FileDownload?file=015G0000001icqz"
     usemap="#Map" border="0"></img></a>
   <map name="Map" id="Map">
      <area shape="rect" coords="24,4,201,182" href="#" onclick="window.open ('http://www.theberrycompany.com/customerportal/video1.html','video1','width=640,height=360')"></area>
      <area shape="rect" coords="261,7,443,182" href="" onclick="window.open ('http://www.theberrycompany.com/customerportal/video2.html','video1','width=640,height=360')"></area>
   </map>
</div>    
</html>
</apex:page>