<apex:page standardController="Case" extensions="InvokeTTSOAPService1" action="{!invokeService1}" title="Email Sending" showHeader="false" sidebar="false">
<apex:form >      
<!---<apex:outputText value="{!result}"/>--->

    <apex:pageBlock >
        <apex:pageBlockButtons location="top">
            <apex:commandButton value="Close" onclick="window.top.location='/{!Case.id}'; return false"/>
        </apex:pageBlockButtons>           
        <apex:pageBlockSection title="Team Track Case Response" collapsible="false" columns="4">        
        </apex:pageBlockSection>
        <apex:pagemessages />
    </apex:pageBlock>
</apex:form>  
</apex:page>