<apex:page controller="BatchOptionsPage" tabStyle="Service_Order_Stage__c">
    <style type="text/css">
    .pbTitle {
    white-space: nowrap
    }
    .cola{
        width:20%;
    }
    .colb{
        width:30%;
    }
    .colc{
        width:4%;
    }
    .cold{
        width:46%;
    }
    </style>
    <apex:form id="frmid">
       <apex:actionstatus id="counterStatus">  
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                    height:100%;opacity:0.65;width:100%;"> 
                    <div class="waitingHolder" style="width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Loading...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>    
    <apex:pageblock id="mainBlock" title="Annual BOC Batch Options Page" >
        <apex:actionRegion >
            <apex:pageblocksection columns="2">
             <apex:inputField value="{!objSO.Directory__c}" required="true"/>
               <!-- <apex:actionSupport event="onchange" action="{!fetchDirectorysectionValues}" status="counterStatus" rerender="mainBlock"/>-->
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Batch Options:" style="margin-left:-5px;" />
                        <apex:selectList id="boptionslist" value="{!batchOptions}" size="1">
                            <apex:selectOptions value="{!batchOptionsPickList}" />
                            <apex:actionSupport event="onchange"  action="{!fetchDirectorysectionValues}" status="counterStatus" rerender="panel1,abcd,pg2"/>
                        </apex:selectList>
                </apex:pageBlockSectionItem>
            </apex:pageblocksection>
        </apex:actionRegion>
    </apex:pageblock>
         
    <apex:outputPanel id="panel1">
        <apex:pageBlock rendered="{!IF(batchOptions = 'Need Options',true, false)}" title="Need Options Steps (Options will be EXCLUDED from being Disconnected/Purged during ABD Pending Batch)">
            <apex:panelgrid columns="4" width="100%" columnClasses="cola,colb,colc,cold">
                <apex:outputLabel value="Telco" style="font-weight:bold;"/>
                <apex:inputField value="{!objSO.Telco_Provider__c}"/>
                <apex:outputText />
                <apex:outputText />
                
                <apex:outputLabel value="Run All Data for Directory" style="font-weight:bold;"/>
                <apex:inputCheckbox label="Run All Data for Directory" value="{!runalldatadir}">
                    <apex:actionSupport event="onclick"  status="counterStatus" rerender="abcd,panel1"/>
                </apex:inputCheckbox>
                <apex:outputText />
                <apex:outputText />
             </apex:panelgrid>
                 
             <apex:panelgrid id="abcd" rendered="{!!runalldatadir}" columns="4" width="100%" columnClasses="cola,colb,colc,cold">
                 <apex:outputText />
                 <apex:outputText />
                 <apex:outputText />
                 <apex:outputLabel value="Sections to be excluded from Disconnect/Purge" style="font-weight:bold;"/>
                 
                 <apex:outputLabel value="Directory Section:" style="font-weight:bold"/>
                 <apex:selectList id="sel1" value="{!leftselected}" multiselect="true" style="width:300px" size="10">
                        <apex:selectOptions value="{!unselectedvalues}" />
                 </apex:selectList>
                 <apex:panelgroup >
                 <br/><br/><br/><br/>
                 <apex:image value="{!$Resource.multiselected}">
                     <apex:actionSupport event="onclick" action="{!selectclick}" status="counterStatus" reRender="abcd"/>
                 </apex:image>
                 <br/>
                 <apex:image value="{!$Resource.multiunselected}">
                     <apex:actionSupport event="onclick" action="{!unselectclick}" status="counterStatus" reRender="abcd"/>
                 </apex:image>
                 </apex:panelgroup>
                 <apex:selectList id="sel2" value="{!rightselected}" multiselect="true" style="width:300px" size="10">
                     <apex:selectOptions value="{!SelectedValues}" />
                </apex:selectList>
            </apex:panelgrid>
            
            <apex:panelgrid columns="4" width="100%" columnClasses="cola,colb,colc,cold" id="pg2">
                 <apex:outputText />
                 <apex:outputText />
                 <apex:outputText />
                 <apex:outputLabel value="Bus/Res/Gov to be excluded from Disconnect/Purge" style="font-weight:bold;"/>
                 
                 <apex:outputLabel value="Bus/Res/Gov Indicator:" style="font-weight:bold"/>
                 <apex:selectList id="sel3" value="{!leftBusselected}" multiselect="true" style="width:300px" size="10">
                     <apex:selectOptions value="{!unSelectedBusValues}" />
                 </apex:selectList>
                 <apex:panelgroup >
                 <br/><br/><br/><br/>
                 <apex:image value="{!$Resource.multiselected}">
                     <apex:actionSupport event="onclick" action="{!selectBusclick}" status="counterStatus" rerender="panel1"/>
                 </apex:image>
                 <br/>
                 <apex:image value="{!$Resource.multiunselected}">
                     <apex:actionSupport event="onclick" action="{!unselectBusclick}" status="counterStatus" rerender="panel1"/>
                 </apex:image>
                 </apex:panelgroup>
                 <apex:selectList id="sel4" value="{!rightBusselected}" multiselect="true" style="width:300px" size="10">
                        <apex:selectOptions value="{!SelectedBusValues}" />
                 </apex:selectList>
                 
                 <apex:outputText />
                <!-- <apex:outputLabel value="Please add Area Code and Exchange in the following format: 'XXXOOO'"/>-->
                 <apex:outputLabel value="Enter Area Code and Exchange in the following format: AAAEEE" style="font-weight:bold;"/>
                 <apex:outputText />
                 <apex:outputText />
                 
                 <apex:outputLabel value="Area Code/Exchange :" style="font-weight:bold;"/>
                 <apex:inputText value="{!userinputAreaCode}" label="Area Code" maxlength="6" style="font-weight:bold;"/>
                 <apex:panelgroup >
                 <apex:commandButton value="Add" action="{!addAreaCode}" status="counterStatus" rerender="panel1"/>
                 <apex:commandButton value="Delete" action="{!deleteAreaCode}" status="counterStatus" rerender="panel1"/>
                 </apex:panelgroup>
                 <apex:panelgroup >
                 <apex:outputLabel value="Area Code/Exchange to be excluded from Disconnect/Purge " style="font-weight:bold;"/>
                 <br/>
                 <apex:dataTable value="{!outputAreaLst}" var="o" border="1">
                     <apex:column value="{!o}"/>
                 </apex:dataTable>
                 <!--<apex:outputText value="{!outputAreaCode}"/>-->
                 </apex:panelgroup>
                 
                 <apex:outputLabel value=" Listing Locality:" style="font-weight:bold;" />
                 <apex:selectList value="{!LocalForeign}" size="1">
                     <apex:selectOptions value="{!LocalForeignPicklist }" />
                 </apex:selectList>
                 <apex:outputText />
                 <apex:outputText />
                 
                 <apex:outputLabel value="Data Feed Type2:" style="font-weight:bold"/>
                 <apex:selectList id="sel5" value="{!leftDFselected}" multiselect="true" style="width:300px" size="10">
                     <apex:selectOptions value="{!unSelectedDataFeedValues}" />
                 </apex:selectList>
                 <apex:panelgroup >
                 <br/><br/><br/><br/>
                 <apex:image value="{!$Resource.multiselected}">
                     <apex:actionSupport event="onclick" action="{!selectDFclick}" status="counterStatus" rerender="panel1"/>
                 </apex:image>
                 <br/>
                 <apex:image value="{!$Resource.multiunselected}">
                     <apex:actionSupport event="onclick" action="{!unselectDFclick}" status="counterStatus" rerender="panel1"/>
                 </apex:image>
                 </apex:panelgroup>
                 <apex:selectList id="sel6" value="{!rightDFselected}" multiselect="true" style="width:300px" size="10">
                     <apex:selectOptions value="{!SelectedDataFeedValues}" />
                 </apex:selectList>
            </apex:panelgrid>
        </apex:pageBlock>
    </apex:outputPanel>
    <apex:pageBlock >
        <apex:pageBlocksection title="Step #1">
            <apex:commandButton id="Abdbatch" value="ABD Pending Batch" action="{!ABDBatch}" status="counterStatus"  reRender="frmid"/>
            <apex:commandButton id="Bobatch" value="ABD Pending BackoutBatch" action="{!ABDPendingBackoutBatch}" status="counterStatus"  reRender="frmid"/>
        </apex:pageBlocksection>
        <apex:actionPoller action="{!pollingABDBatchProcess}" enabled="{!ABDpolleraction}" interval="5" reRender="abdbatchPanel" status="pollingStatusABD"/>
            <apex:pageBlockSection id="abdbatchPanel" columns="1" title=" ABD Batch Process" rendered="{!isABDBatchProcessed}" collapsible="false">
                <apex:actionStatus startText="(checking progress...)" id="pollingStatusABD"/>
                <apex:pageBlockSectionItem rendered="{!if(ABDbatchId==null,false,true)}">
                   <apex:outputLabel style="font-weight:bold;color: #4a4a56;">Status of ABD Pending Batch :</apex:outputLabel> 
                   <apex:outputLabel value="{!ABDbatchStatus}" style="font-weight:bold;color:{!If(ABDbatchStatus=='Completed','green','red')}"> </apex:outputLabel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        <apex:pageBlocksection title="Step #2">
            <apex:commandButton id="sobatch" value="Submit BOC Batch" action="{!Bocbatch}" status="counterStatus"  reRender="frmid"/>
        </apex:pageBlocksection>
        <apex:actionPoller action="{!PollingBatchProcess}" enabled="{!pollerAction}" interval="5" reRender="batchPanel" status="pollingStatus"/>
            <apex:pageBlockSection id="batchPanel" columns="1" title="Service Order Annual Batch Process" rendered="{!isBatchProcessed}" collapsible="false">
                <apex:actionStatus startText="(checking progress...)" id="pollingStatus"/>
                <apex:pageBlockSectionItem rendered="{!if(batchId==null,false,true)}">
                   <apex:outputLabel style="font-weight:bold;color: #4a4a56;">Status of Service order Annual Batch :</apex:outputLabel> 
                   <apex:outputLabel value="{!batchStatus}" style="font-weight:bold;color:{!If(batchStatus=='Completed','green','red')}"> </apex:outputLabel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
           
    </apex:pageBlock>
    </apex:form>
</apex:page>