<apex:page standardStylesheets="false" showHeader="true" controller="strmCntrlr1">    
    <apex:stylesheet value="{!URLFOR($Resource.ExtJS42, '/ExtJS42/resources/ext-theme-neptune-all.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.ExtJS42, '/ExtJS42/ext-all.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.ffps_berry__JQuery, '/JQuery/web/jquery/js/jquery-1.11.2.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.ExtJS42, '/ExtJS42/ext-theme-neptune.js')}" />

    
    
    <apex:form >
        <div id="gridSpace"></div>
        </apex:form>

    <!-- for red negatives -->
    <style type="text/css">
        .redCssClass{
            color:#FF0000;
        }

    </style>

    <style type="text/css">
        .cls1 .x-btn-glyph{
            color:blue;
        }
    </style>

    <script type="text/javascript" >

        j$ = jQuery.noConflict();
        j$(document).ready(function() {
            console.log('Document ready from jQuery!');
                                    
            var stylesheet = document.styleSheets[(document.styleSheets.length - 1)];
            console.log("sheet1 : ", stylesheet, document.styleSheets );    
            for( var i in document.styleSheets ){
                if( document.styleSheets[i].href && document.styleSheets[i].href.indexOf("extended.css")>0 ) {
                    stylesheet = document.styleSheets[i];
                    stylesheet.id = "cmnSheet";
                    console.log("sheet2: ", stylesheet, stylesheet.href, stylesheet.id);
                    stylesheet.disabled = true;      
                    break;
                }
            };
            
            console.log("sheet3: ", stylesheet);
            
                                             
                                                            
        });

        // StormAccountGrid page from EclipseForce project
        Ext.ns("Ext.Storm"); //Defining a namespace is best practice in ExtJS


        /* --- ON READY --- */
        Ext.onReady(function(){
            console.log('Document ready from ExtJS!');
            /*................vars.............................*/
            var strtTm = 0;
            var endTm = 0;

            /*................handlers.............................*/
            var d1 = 0;
            function debugHandler(tool, e, eOpts) {
                if(d1== 9 || d1 == 0){                
                    d1 = d1 + 1;
                }
                console.log('debugHandler: ', d1 );
                var stylesheet = document.styleSheets[(d1)];
                console.log("sheet1 : ", stylesheet, document.styleSheets );    
                stylesheet.disabled = true;
                d1 = d1+1;
                if(d1> document.styleSheets.length-1){                
                    d1 = 0;
                }
               
                                          
            }



            function onToolClick(tool, e, eOpts) {
                console.log('onButtonAfterRender' );
            }

            function onShowToolsClick(tool, e, eOpts) {
                console.log('onShowToolsClick' );
            }

            function searchHandler(button, e, eOpts) {
                
                // call validation: 1 date not enough, start date after end date,  
                
                
                
                
                var s1= Ext.ComponentQuery.query('label#status1')[0];
                s1.setText("loading data ...");
                var p1= Ext.ComponentQuery.query('progressbar#prog1')[0];

                p1.wait({
                    interval: 250,
                    increment: 2
                });

                console.log('searchHandler', Ext.getStore('BkngStore') ); // bkngGridStore=var
                //var cmboBx = Ext.ComponentQuery.query('combobox#cmbDivNm');
                //var boxVal = Ext.ComponentQuery.query('combobox#cmbDivNm')[0].getValue();

                var dnStrng = (Ext.ComponentQuery.query('combobox#cmbDivNm')[0].getValue()== '< any >') ? null : Ext.ComponentQuery.query('combobox#cmbDivNm')[0].getValue();
                var mtStrng = (Ext.ComponentQuery.query('combobox#cmbMediaTyp')[0].getValue()== '< any >') ? null : Ext.ComponentQuery.query('combobox#cmbMediaTyp')[0].getValue();
                var dtFrom = Ext.ComponentQuery.query('#dtFrom')[0].getValue();
                var dtTo = Ext.ComponentQuery.query('#dtTo')[0].getValue();
                var dtFromStrng = (dtFrom == null) ? null : (dtFrom.getMonth() + 1) + '/' + dtFrom.getDate() + '/' + dtFrom.getFullYear();
                var dtToStrng = (dtTo == null) ? null : (dtTo.getMonth() + 1) + '/' + dtTo.getDate() + '/' + dtTo.getFullYear();
                console.log('dnStrng : ', dnStrng, mtStrng, dtFrom, dtFromStrng, dtToStrng);

                strtTm = Ext.Date.now();
                console.log('strtTm : ', dnStrng, mtStrng, dtFromStrng, dtToStrng );
                strmCntrlr1.srchBkngData(dnStrng, mtStrng, dtFromStrng, dtToStrng, function(result, er){
                    endTm = Ext.Date.now();
                    var t = (endTm-strtTm)/1000;
                    console.log('time: ', strtTm/1000, endTm/1000);
                    var s2= Ext.ComponentQuery.query('label#status2')[0];
                    console.log('s2: ', s2);
                    s2.setText("time to load data: " + t + " secs.");
                    strtTm = Ext.Date.now();
                    var res = Ext.decode(result);
                    console.log('res: ', res)
                    //var bkngStore = Ext.getStore('BkngStore');
                    
                    //bkngGridStore.removeAll(); // bkngGridStore
                    bkngGridStore.setProxy({
                        type: 'pagingmemory',
                        data: res.Records,
                        reader: {
                            type: 'json',
                            totalProperty: 'totalCount',
                            //root: 'countries',
                            successProperty: 'success'
                        }
                    });
                    bkngGridStore.load();
                    
                    
                    
                    //bkngGridStore.removeAll(); // bkngGridStore
                    //bkngGridStore.loadData(res.Records); //bkngGridStore
                }, {escape:false});
            }

            /* --- end handlers --- */
            
            /** THIS WAS LIFTED FROM ExtJS 4.2 source code - why is this not part of ExtJS static resource?
             * Paging Memory Proxy, allows to use paging grid with in memory dataset
             */
            Ext.define('Ext.ux.data.PagingMemoryProxy', {
                extend: 'Ext.data.proxy.Memory',
                alias: 'proxy.pagingmemory',
                alternateClassName: 'Ext.data.PagingMemoryProxy',
            
                read : function(operation, callback, scope){
                    var reader = this.getReader(),
                        result = reader.read(this.data),
                        sorters, filters, sorterFn, records;
            
                    scope = scope || this;
                    // filtering
                    filters = operation.filters;
                    if (filters.length > 0) {
                        //at this point we have an array of  Ext.util.Filter objects to filter with,
                        //so here we construct a function that combines these filters by ANDing them together
                        records = [];
            
                        Ext.each(result.records, function(record) {
                            var isMatch = true,
                                length = filters.length,
                                i;
            
                            for (i = 0; i < length; i++) {
                                var filter = filters[i],
                                    fn     = filter.filterFn,
                                    scope  = filter.scope;
            
                                isMatch = isMatch && fn.call(scope, record);
                            }
                            if (isMatch) {
                                records.push(record);
                            }
                        }, this);
            
                        result.records = records;
                        result.totalRecords = result.total = records.length;
                    }
                    
                    // sorting
                    sorters = operation.sorters;
                    if (sorters.length > 0) {
                        //construct an amalgamated sorter function which combines all of the Sorters passed
                        sorterFn = function(r1, r2) {
                            var result = sorters[0].sort(r1, r2),
                                length = sorters.length,
                                i;
                            
                                //if we have more than one sorter, OR any additional sorter functions together
                                for (i = 1; i < length; i++) {
                                    result = result || sorters[i].sort.call(this, r1, r2);
                                }                
                           
                            return result;
                        };
                
                        result.records.sort(sorterFn);
                    }
                    
                    // paging (use undefined cause start can also be 0 (thus false))
                    if (operation.start !== undefined && operation.limit !== undefined) {
                        result.records = result.records.slice(operation.start, operation.start + operation.limit);
                        result.count = result.records.length;
                    }
            
                    Ext.apply(operation, {
                        resultSet: result
                    });
                    
                    operation.setCompleted();
                    operation.setSuccessful();
            
                    Ext.Function.defer(function () {
                        Ext.callback(callback, scope, [operation]);
                    }, 10);
                }
            });

            Ext.define('Ext.ux.form.SearchField', {
                extend: 'Ext.form.field.Trigger',
                alias: 'widget.searchfield',
                trigger1Cls: Ext.baseCSSPrefix + 'form-search-trigger',
                initComponent: function(){
                    this.callParent(arguments);
                },
                afterRender: function(){
                    this.callParent();
                }
            });           

            var rednegatives =  function (value, metadata) {
                metadata.css = (value >= 0) ? "n" : "redCssClass";
                return  Ext.util.Format.number(value, "$  0,000.00");
            };


        //});

        console.log('this: ', this );
        console.log('Ext_onReady');
        var divvy1=document.getElementById("gridSpace");
        console.log('divvy1: ', divvy1);

        j$ = jQuery.noConflict();
        j$(document).ready(function() {
            console.log('Document ready from jQuery!');
        });


/* --- define DivCdModel--- */
        Ext.define('DivCdMdl', {
            extend  : 'Ext.data.Model',
            fields  : [
                {name: 'Division_Code__c', type: 'string'}
            ]
        });

        var strDivCd = Ext.create('Ext.data.Store', {
            itemId: 'strBkng',
            model: 'DivCdMdl',
            proxy: {
                type: 'memory',
                reader: {
                    type : 'json'
                }
            }
        });

        Ext.define('DivNmMdl', {
            extend  : 'Ext.data.Model',
            fields  : [
                {name: 'divNm', type: 'string'}
            ]
        });


/* --- define StrDivNm for DivNm drop --- */
        Ext.define("StrDivNm", {
            extend: "Ext.data.JsonStore", //"Ext.data.Store",
            requires: [
                "DivNmMdl"
            ],
            model: "DivNmMdl",
            autoLoad: false,

            constructor: function(cfg) {
                console.log('flow: strDivNm.construct');
                var me = this;
                cfg = cfg || {};
                this.initConfig(cfg);
                //Ext.apply(this, {
                me.callParent([Ext.apply({
                    storeId: 'idStrDivNm',
                    proxy: {
                        type: 'memory',
                        reader: {
                            type: 'json',
                            root: 'Records',
                            successProperty: 'success'
                        }
                    },
                    listeners: { // debug for StoreLoaded
                        load: {
                            fn: me.onJsonstoreLoad,
                            scope: me
                        }
                    }
                }, cfg)]);

                //});
                //return this.callParent(arguments);
            },

            onJsonstoreLoad: function(store, records, successful, operation, options) {
                console.log('strDivNm.onJsonstoreLoad');
            },

            getDshJson: function() {
                console.log('getDshJson from Store: ', Ext.JSON.decode(me.proxy.reader.rawData));
                return Ext.JSON.decode(me.proxy.reader.rawData);
            }

        });


        var strDivNm = Ext.create('StrDivNm');
        //strDivNm.load();

        var strMediaTyp = Ext.create('Ext.data.Store', {
            fields: ['Media_Type__c'],
            data : [
                {"Media_Type__c":"< any >"},
                {"Media_Type__c":"PRINT"},
                {"Media_Type__c":"DIGITAL"}
            ],
            listeners: {
                load: function(store) {
                    console.log('strMediaTypLoad: ', this);
                }
            }
        });

/* --- define BookingModel--- */
        Ext.define('BkngMdl', {
            extend  : 'Ext.data.Model',
            fields  : [
                {name: 'Book_or_Cancel_Date__c', type: 'datetime', convert:function(v,record){return Ext.Date.format(new Date(v), 'Y-m-d');}},
                {name: 'Customer_ID__c', type: 'int'},
                {name: 'Customer_Name__c', type: 'string'},
                {name: 'Directory_Code__c', type: 'string'},
                {name: 'Directory_Version__c', type: 'string'},
                {name: 'Directory_Name__c', type: 'string'},
                {name: 'Worker_ID__c', type: 'int'},
                {name: 'Heading_Code__c', type: 'string'},
                {name: 'ADP_Employee_ID__c', type: 'string'},
                {name: 'Employee_Name__c', type: 'string'},
                {name: 'Division_Name__c', type: 'string'},
                {name: 'Sales_Channel_Code__c', type: 'string'},
                {name: 'Media_Type__c', type: 'string'},
                {name: 'RGU__c', type: 'string'},
                {name: 'UDAC__c', type: 'string'},
                {name: 'New_or_Renew__c', type: 'string'},
                {name: 'Enterprise_Customer_ID__c', type: 'int'},
                {name: 'Previous_Close_Amount__c', type: 'float'},
                {name: 'Book_Increase_Amount__c', type: 'float'},
                {name: 'Increase_NI_Amount__c', type: 'float'},
                {name: 'NI_Amount__c', type: 'float'},
                {name: 'Term__c', type: 'int'},
                {name: 'Book_Amount__c', type: 'float'},
                {name: 'Through_Date__c', type: 'datetime', convert:function(v,record){return Ext.Date.format(new Date(v), 'Y-m-d');}}
            ]
        }); // end --- define BookingModel

/*......................define gridStore var.........................*/
        var bkngGridStore = Ext.create('Ext.data.Store', {
            model: 'BkngMdl',
            pageSize: 16,
            listeners: {
                load: function() {
                    console.log('bkngGridStore_load: ');
                },
                beforeload: function(store, operation, options){
                    console.log("bkngGridStore data is loading");
                }
            }
        });
        
/*.....................................define booking grid....................................*/
        Ext.define('stormgrid1', {
            extend: 'Ext.grid.Panel',
            //requires: ['BkngStore'],
            alias: 'widget.stormgrid1',
            title: 'Booking Grid',
            hideHeaders: false,
            name: 'stormpanel',
            flex: 1,
            columnLines : true,
            singleSelect: true,
            selType: 'cellmodel',
            border: true,
            scroll: 'horizontal',
            store: bkngGridStore,                        
            initComponent: function() {
                var me = this;
                console.log('stormgrid1');
                Ext.applyIf(me, {
                    
                    viewConfig: {
                        stripeRows: true,
                        listeners: {
                            refresh: {
                                fn: me.onViewRefresh,
                                scope: me
                            }
                        }
                    },
                    
                    columns: [
                        {
                            text: 'Bk/Cncl Dt',
                            dataIndex: 'Book_or_Cancel_Date__c',
                            width: 90
                        },
                        {
                            text: 'Cust ID',
                            dataIndex: 'Customer_ID__c',
                            width: 95
                        },
                        {
                            text: 'Customer Name',
                            dataIndex: 'Customer_Name__c',
                            width: 200
                        },
                        {
                            text: 'Division Name',
                            dataIndex: 'Division_Name__c',
                            width: 120
                        },
                        {
                            text: 'Dir Cd',
                            dataIndex: 'Directory_Code__c',
                            width: 70
                        },
                        {
                            text: 'Dir Vrsn',
                            dataIndex: 'Directory_Version__c',
                            width: 70
                        },
                        {
                            text: 'Directory Name',
                            dataIndex: 'Directory_Name__c',
                            width: 200
                        },
                        {
                            text: 'Wrkr ID',
                            dataIndex: 'Worker_ID__c',
                            width: 60
                        },
                        {
                            text: 'Hdg Cd',
                            dataIndex: 'Heading_Code__c',
                            width: 70
                        },
                        {
                            text: 'ADP ID',
                            dataIndex: 'ADP_Employee_ID__c',
                            width: 70
                        },
                        {
                            text: 'Employee Name',
                            dataIndex: 'Employee_Name__c',
                            width: 150
                        },
                        {
                            text: 'SlsChnl',
                            dataIndex: 'Sales_Channel_Code__c',
                            width: 65,
                            align: 'center'
                        },
                        {
                            text: 'Media',
                            dataIndex: 'Media_Type__c',
                            width: 65,
                            align: 'center'
                        },
                        {
                            text: 'RGU',
                            dataIndex: 'RGU__c',
                            width: 90,
                            align: 'center'
                        },
                        {
                            text: 'UDAC',
                            dataIndex: 'UDAC__c',
                            width: 70,
                            align: 'center'
                        },
                        {
                            text: 'Nw/Rnw',
                            dataIndex: 'New_or_Renew__c',
                            width: 75,
                            align: 'center'
                        },
                        {
                            text: 'Ent Cust ID',
                            dataIndex: 'Enterprise_Customer_ID__c',
                            width: 100
                        },
                        {
                            text: 'PCA',
                            dataIndex: 'Previous_Close_Amount__c',
                            renderer: rednegatives,
                            width: 80,
                            align: 'right'
                        },
                        {
                            text: 'Book Incr',
                            dataIndex: 'Book_Increase_Amount__c',
                            renderer: rednegatives,
                            width: 90,
                            align: 'right'
                        },
                        {
                            text: 'Incr NI',
                            dataIndex: 'Increase_NI_Amount__c',
                            renderer: rednegatives,
                            width: 90,
                            align: 'right'
                        },
                        {
                            text: 'NI',
                            dataIndex: 'NI_Amount__c',
                            renderer: Ext.util.Format.usMoney,
                            width: 70,
                            align: 'right'
                        },
                        {
                            text: 'Term',
                            dataIndex: 'Term__c',
                            width: 50,
                            align: 'right'
                        },
                        {
                            text: 'Book Amt',
                            dataIndex: 'Book_Amount__c',
                            renderer: Ext.util.Format.usMoney,
                            width: 80,
                            align: 'right'
                        },
                        {
                            text: 'Thru Dt',
                            dataIndex: 'Through_Date__c',
                            width: 90
                        }

                    ],
                    
                    dockedItems: [{
                        xtype: 'pagingtoolbar',
                        store: bkngGridStore,  
                        dock: 'bottom',
                        displayInfo: true,
                        items: [
                                { 
                                    xtype: 'tbseparator'
                                },
                                {
                                    xtype : 'trigger',
                                    itemId : 'gridTrigger',
                                    fieldLabel: 'Filter Grid Data',
                                    triggerCls : 'x-form-clear-trigger',
                                    emptyText : 'Start typing to filter grid',
                                    size : 30,
                                    minChars : 1,
                                    enableKeyEvents : true,
                                    onTriggerClick : function(){
                                        me.onTriggerClear();
                                    },                                    
                                    listeners: {
                                        keyup: {                                                                                                                 
                                            fn: me.onTriggerfieldKeyup,
                                            scope: me
                                        }
                                    }
                                }
                        ]
                    }],
                            
                    tbar: [
                        {
                            xtype: 'combo',
                            fieldLabel: 'Division Name',
                            store: strDivNm,
                            itemId: 'cmbDivNm',
                            labelWidth: 90,
                            width: 280,
                            queryMode: 'local',
                            displayField: 'divNm',
                            valueField: 'divNm',
                            autoSelect: true,
                            forceSelection: true,
                            editable: false,
                            growToLongestValue: false,
                            border: false,
                            style: {
                                borderColor: 'red',
                                borderStyle: 'solid'
                            },
                            listeners: {
                                afterrender: function(combo) {
                                    console.log('comboRendered: ', this);
                                    //var recordSelected = combo.getStore().getAt(0);
                                    //combo.setValue(recordSelected.get('field1'));
                                    //console.log('comboRenderedStore: ', this.store.data.items);
                                }
                            }
                        },
                        { xtype: 'tbseparator',
                            style: {
                                width: 10,
                                backColor: 'light blue'
                            }
                        },                                                                      
                        {
                            xtype: 'combo',
                            fieldLabel: 'Media Type',
                            store: strMediaTyp,
                            itemId: 'cmbMediaTyp',
                            labelWidth: 90,
                            width: 190,
                            border: false,
                            style: {
                                borderColor: 'red',
                                borderStyle: 'solid'
                            },
                            queryMode: 'local',
                            displayField: 'Media_Type__c',
                            valueField: 'Media_Type__c',
                            autoSelect: true,
                            forceSelection: true,
                            listeners: {
                                afterrender: function(combo) {
                                    console.log('Media Type: ', this);
                                    var recordSelected = combo.getStore().getAt(0);
                                    combo.setValue(recordSelected.get('Media_Type__c'));
                                    //console.log('comboRenderedStore: ', this.store.data.items);
                                }
                            }
                        },
                        { xtype: 'tbseparator', width: 10 },
                        {
                            xtype: 'datefield',
                            itemId: 'dtFrom',
                            labelWidth: 80,
                            width: 190,
                            fieldLabel: 'Start Date',
                            name: 'date',
                            // The value matches the format; will be parsed and displayed using that format.
                            format: 'Y m d',
                            border: false,
                            style: {
                                borderColor: 'red',
                                borderStyle: 'solid'
                            },
                            onTriggerClick: function () {
                                var dt1 = this;
                                Ext.form.DateField.prototype.onTriggerClick.apply(dt1, arguments);
                                if (Ext.isEmpty(dt1.clearBtn)) {
                                    this.clearBtn = new Ext.Button({
                                        text: 'Clear',
                                        id: 'B1',
                                        style: {
                                            color: 'red'
                                        },
                                        handler: function () {
                                            dt1.setValue("");
                                            dt1.picker.hide();
                                            dt1.collapse();
                                        }
                                    });
                                    console.log('clearBtn: ', this.clearBtn);
                                    dt1.clearBtn.render(dt1.picker.todayBtn.container);
                                }
                            },
                            listeners: {
                                change: function(field, newValue, oldValue, eOpts) {
                                    console.log('newValue: ', newValue);
                                }
                            }
                            //value: '2 4 1978'
                        },
                        { xtype: 'tbseparator', width: 10 },
                        {
                            xtype: 'datefield',
                            itemId: 'dtTo',
                            labelWidth: 90,
                            width: 200,
                            fieldLabel: 'Through Date',
                            name: 'date',
                            // The value matches the format; will be parsed and displayed using that format.
                            format: 'Y m d',
                            border: false,
                            style: {
                                //borderColor: 'red',
                                //borderStyle: 'solid'
                            },
                            onTriggerClick: function () {
                                var dt1 = this;
                                Ext.form.DateField.prototype.onTriggerClick.apply(dt1, arguments);
                                if (Ext.isEmpty(dt1.clearBtn)) {
                                    this.clearBtn = new Ext.Button({
                                        text: 'Clear',
                                        enabled: true,
                                        handler: function () {
                                            dt1.setValue("");
                                            dt1.picker.hide();
                                            dt1.collapse();
                                        }
                                    });
                                    dt1.clearBtn.render(dt1.picker.todayBtn.container);
                                }
                            }
                            //value: '2 4 1978'
                        },
                        { xtype: 'tbseparator', width: 10 },
                        {
                            xtype: 'button',
                            width: 100,
                            //height: 30,
                            text: 'Search',
                            listeners: {
                                click: {
                                    fn: searchHandler
                                }
                            }
                            //icon: '/img/func_icons/util/search20.gif'
                            //glyph: 'xf002@FontAwesome'
                            //cls: 'cls1'
                        },
                        {
                            xtype: 'button',
                            width: 15,
                            //height: 30,
                            text: 'd',
                            listeners: {
                                click: {
                                    fn: debugHandler
                                }
                            }
                        }


                    ],
                    listeners: {
                        afterrender: {
                            fn: me.onGridpanelAfterRender,
                            scope: me
                        }
                    }

                });

                me.callParent(arguments);
            },
            
            onTriggerfieldKeyup: function(t, e, eOpts) {                
                var grid1 = t.up('panel');
                console.log('onTriggerfieldKeyupCall: ', grid1);
                
                console.log('You typed something!');
                    
                        //var thisRegEx = new RegExp(t.getValue(), "i");
                        //var grid = me;
                        //records = [];
                        bkngGridStore.remoteFilter = true;
                        //var store = bkngGridStore.getStore();
                        bkngGridStore.clearFilter(true);
                        
                        
                        
                        //store.clearFilter();
                        var searchValue = t.getValue();
                        if (!!searchValue) {
                            var filters = [
                                 new Ext.util.Filter({
                                     filterFn: function (item) {
                                         return item.get('Customer_Name__c').toLowerCase().indexOf(searchValue.toLowerCase()) > -1                                 
                                             || item.get('Employee_Name__c').toLowerCase().indexOf(searchValue.toLowerCase()) > -1;
                                     }
                                 })
                            ];
                            bkngGridStore.filter(filters);
                         } else{
                             bkngGridStore.read();
                         }
                        
                 
                    
                    
                      return;
                        
                        
                        
                       
            },
            
            onTriggerClear : function() {
                    console.log('Trigger got reset!');

                    if(bkngGridStore!= null){
                        bkngGridStore.clearFilter();
                    }                  
            },

            onGridpanelAfterRender: function(component, eOpts) {
                console.log('onGridpanelAfterRender');
            },

            onViewRefresh: function(dataview, eOpts) {
                console.log('onViewRefresh: ', dataview.store.getCount());

                var s1= Ext.ComponentQuery.query('label#status1')[0];
                if(dataview.store.getCount()>0){
                    s1.setText(dataview.store.getCount() + " records returned");
                    endTm = Ext.Date.now();
                    var t = (endTm-strtTm)/1000;
                    var s3= Ext.ComponentQuery.query('label#status3')[0];
                    console.log('s3: ', s3);
                    s3.setText("time to render grid data: " + t + " secs.");
                }
                var p1= Ext.ComponentQuery.query('progressbar#prog1')[0];
                p1.reset();
            }


        }); // end --- define stormgrid


        /*.........................................create tab panel........................*/
        Ext.create('Ext.panel.Panel', {
            //requires: ['Ext.ux.statusbar.StatusBar'],

            width: 1200,
            height: 600,
            bodyPadding: 10,
            heading: false,
            dockedItems: [{
                xtype: 'toolbar',
                alias: 'widget.statBar',
                itemId: 'statBar',
                dock: 'bottom',
                items: [
                    {
                        xtype: 'progressbar',
                        itemId: 'prog1',
                        width: 20,
                        value: 0.0
                    },
                    {
                        xtype: 'label',
                        flex: 1,
                        itemId: 'status1'
                    },
                    {
                        xtype: 'label',
                        flex: 1,
                        itemId: 'status2',
                        text: ''
                    },
                    {
                        xtype: 'label',
                        flex: 1,
                        itemId: 'status3',
                        text: ''
                    }
                ]
            }],

            renderTo: document.getElementById("gridSpace"),
            frame: true,
            layout: {
                type: 'fit'
                //padding: '5 5 5 5' // pad the layout from the window edges
            },

            items: [{
                xtype: 'stormgrid1'
            }]
        }); // end --- create tab panel

        console.log('stormgrid1: ', stormgrid1);

        strmCntrlr1.getDivNmData(function(result, er){
            var res = Ext.decode(result);
            console.log('resultDN: ', res);

            strDivNm.add({divNm: '< any >'});

            for (var i=0; i<res.Records.length; i++) {
                //console.log('resRecord: ', res.Records[i]);
                strDivNm.add({divNm: res.Records[i]});
            }

            var cmboBx = Ext.ComponentQuery.query('combobox#cmbDivNm');
            var recordSelected = cmboBx[0].getStore().getAt(0);
            cmboBx[0].setValue(recordSelected.get('divNm'));
        }, {escape:false});


        }) // end ---> Ext.Ready
    </script>
</apex:page>