<apex:page id="ap1" showHeader="False" sidebar="True">
 <!-- <apex:iframe src="http://199.108.90.225:888/StormBooking/strmbkng1.htm" scrolling="true" id="theIframe"/> -->
  <!-- <apex:iframe src="http://10.48.12.50:888/StormBooking/strmbkng1.htm" scrolling="true" id="theIframe"/> -->
 <!-- <apex:iframe src="http://199.108.90.225:888/hello.php" scrolling="true" id="theIframe"/> -->
  <!-- <apex:iframe src="http://www.salesforce.com" scrolling="true" id="theIframe"/> -->
<apex:iframe src="http://10.48.12.50:8888/StormBooking.php" width="100%" height="800px" scrolling="true" id="theIframe"/>

</apex:page>