<apex:page StandardController="Digital_Product_Requirement__c" extensions="UpdateDFF" action="{!fpLoad}" id="fpPg" showheader="false" sidebar="false">
    <apex:outputPanel id="panel">
        <Script>
            function popup() {
                var myWindow = window.open('/apex/ReadyToUpdateDFF?id={!dffId}', '', 'width=800,height=400,scrollbars=yes,resizable=yes');
                return false;
            }

            function checkall(id) {
                var ch = document.getElementById(id).checked;
                var count = '{!fpCnt}';
                for (var i = 0; i < count; i++) {
                    var strnm = 'fpPg:fm:pgblk:pbt:' + i + ':inptId';
                    if (strnm != id) {
                        document.getElementById(strnm).checked = false;
                    }
                }
            }
        </Script>
    </apex:outputPanel>
    <apex:form id="fm">
        <apex:pageBlock id="pgblk" title="Fulfillment Profile">
            <apex:pageMessages id="message" />
            <apex:pageBlockButtons location="top">
                <!---<apex:commandButton id="btnCopyFP" value="Update DFFs" status="nstatus" action="{!updateDff}" reRender="fm,message,panel" oncomplete="popup();" />--->
                <apex:commandButton id="btnFP" value="Change Fulfillment Profile" status="nstatus" action="{!updateDffFp}" reRender="frm,message,panel" />
                <apex:actionstatus id="nstatus">
                    <apex:facet name="start">
                        <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;">
                            <div class="waitingHolder" style="top: 50.2px; width: 91px;">
                                <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                <span class="waitingDescription">Loading...</span>
                            </div>
                        </div>
                    </apex:facet>
                </apex:actionstatus>
            </apex:pageBlockButtons>
            <apex:pageBlockTable value="{!lstFpWrapper}" var="lstWp" id="pbt">
                <apex:column headervalue="Select">
                    <apex:inputCheckbox id="inptId" value="{!lstWp.bFlag}" onchange="checkall(this.id);" />
                </apex:column>
                <apex:column headervalue="Fulfillment Profile">
                    <a href="/{!lstWp.objProfile.Id}" target="_top">
                        <apex:outputField value="{!lstWp.objProfile.Name}" />
                    </a>
                </apex:column>
                <apex:column headervalue="Account">
                    <a href="/{!lstWp.objProfile.Account__c}" target="_top">
                        <apex:outputtext value="{!lstWp.objProfile.Account__r.Name}" />
                    </a>
                </apex:column>
                <apex:column value="{!lstWp.objProfile.Default_Profile__c}" />
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>