<apex:page StandardController="Digital_Product_Requirement__c" extensions="UpdateP4P" tabStyle="Digital_Product_Requirement__c">
    
    <apex:form >
        <apex:actionstatus id="counterStatus">
                    <apex:facet name="start">
                        <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;">
                            <div class="waitingHolder" style="top: 100px; width: 91px;">
                                <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                <span class="waitingDescription">Loading...</span>
                            </div>
                        </div>
                    </apex:facet>
                </apex:actionstatus>
        <apex:pagemessages id="pmMain" escape="false"/>
        <apex:pageBlock rendered="{!objDFF.P4P_Billing__c}" title="Data Fulfillment Form">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Edit" action="{!edit}" rendered="{! NOT(bolEditFlag)}"/>
				<apex:commandButton value="Save" action="{!save}" rendered="{!bolEditFlag}"/>
				<apex:commandButton value="Return to DFF record" action="{!redirectToDFF}" rendered="{! NOT(bolEditFlag)}"/>
                <apex:commandButton status="counterStatus" value="Submit" action="{!Submit}" reRender="pmMain" rendered="{! NOT(bolEditFlag)}"/>
                <apex:commandButton value="Cancel" action="{!cancel}" rendered="{!bolEditFlag}"/>
            </apex:pageBlockButtons>
           <apex:pageblockSection rendered="{! NOT(bolEditFlag)}">
                <apex:outputField value="{!objDFF.P4P_Number_Type__c}"/>
                <apex:outputField value="{!objDFF.P4P_Requested_Area_Code__c}"/>
                <apex:outputField value="{!objDFF.P4P_Requested_Prefix__c}"/>
                <apex:outputField value="{!objDFF.Call_Recording__c}"/>
                <apex:outputField value="{!objCanvass.P4P_Call_Time__c}"/>
                <apex:outputField value="{!objCanvass.P4P_Threshold__c}"/>
                <apex:outputField value="{!objCanvass.P4P_Frequency__c}"/>
            </apex:pageblockSection>
			<apex:pageblockSection rendered="{!bolEditFlag}">
                <apex:inputField value="{!objDFF.P4P_Number_Type__c}" required="true"/>
                <apex:inputField value="{!objDFF.P4P_Requested_Area_Code__c}" required="true"/>
                <apex:inputField value="{!objDFF.P4P_Requested_Prefix__c}" required="true"/>
                <apex:inputField value="{!objDFF.Call_Recording__c}" required="true"/>
                <apex:inputField value="{!objCanvass.P4P_Call_Time__c}" required="true"/>
                <apex:inputField value="{!objCanvass.P4P_Threshold__c}" required="true"/>
                <apex:inputField value="{!objCanvass.P4P_Frequency__c}" required="true"/>
            </apex:pageblockSection>
        </apex:pageBlock>
        <apex:pageBlock rendered="{! NOT(objDFF.P4P_Billing__c) }">
            <apex:pageMessage severity="error">
            This record is not a P4P record.
            </apex:pageMessage>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Back to DFF" action="/{!Digital_Product_Requirement__c.Id}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>