<apex:page controller="vertex_NationalRateCardBMICSVExport" contentType="text/csv-stream#BMIExport.csv" readOnly="true"  sidebar="false" standardStylesheets="false" showHeader="false"  cache="true"  expires="0">
<apex:outputText value="{!strLablevaluesExport}"/>  
<apex:outputText value="{!strFieldValuesExport}"/> 
</apex:page>