<apex:page StandardController="Digital_Product_Requirement__c" extensions="YPCAddonValidationController" action="{!addnVldtn}" showheader="false" sidebar="false">
    <apex:form >
        <apex:pageblock >
            <apex:pageblockButtons location="top">
                <!---<apex:commandButton value="Close" onclick="window.top.location='/{!Digital_Product_Requirement__c.id}'; return false"/>--->
            </apex:pageblockButtons>
            <apex:pageBlockSection title="YPC Addon Validations" collapsible="false" columns="4">
            </apex:pageBlockSection>
            <apex:pageMessages escape="false">
            </apex:pageMessages>
        </apex:pageblock>
    </apex:form>
</apex:page>